{% extends "layout.html" %}
{% block content %}
<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
  <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
  <label class="btn btn-outline-primary" for="btnradio1">2A</label>

  <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
  <label class="btn btn-outline-primary" for="btnradio2">2B</label>

  <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
  <label class="btn btn-outline-primary" for="btnradio3">2C</label>

  <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
  <label class="btn btn-outline-primary" for="btnradio4">2D</label>

  <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off">
  <label class="btn btn-outline-primary" for="btnradio5">2E</label>

  <input type="radio" class="btn-check" name="btnradio" id="btnradio6" autocomplete="off">
  <label class="btn btn-outline-primary" for="btnradio6">2F</label>
</div>
<br>


<div class="btn-group mt-3" role="group" aria-label="Basic radio toggle button group">

  <input type="radio" class="btn-check" name="btnradio2" id="btnradio7" autocomplete="off" checked>
  <label class="btn btn-outline-primary" for="btnradio7">Present</label>

  <input type="radio" class="btn-check" name="btnradio2" id="btnradio8" autocomplete="off">
  <label class="btn btn-outline-primary" for="btnradio8">Absent</label>

</div>


<!--make input field to set new coordinates in case classes are merged / changed and again reset original coordinates to oroginal class.-->
<div class="d-flex mt-3">
<select class="form-select" aria-label="Default select example">
  <!-- <option>select class / coordinates</option> -->
  <option value="123.1.2.1" selected>2B (123.1.2.1)</option>
  <option value="123.1.3.1"> 2A (123.1.3.1)</option>
  <option value="123.1.4.1">Python Lab (123.1.4.1)</option>

</select>
<div class="d-grid gap-2 col-6">
  <button class="btn btn-primary bg-steel w-25" type="button" onclick="">Change</button>
</div>
</div>




<div class="list-group mt-3">

  <p>Total Students Present : 60</p>
  <p>Total Students Absent : 18</p>
  <div>
    <button type="button" class="list-group-item list-group-item-action active" style="background-color: steelblue;"
      aria-current="true">
      Present students
    </button>
    <ol class="list-group list-group-numbered">
      <!-- use for loop / use ajax to innerHTML.  -->
      <li class="list-group-item">Rahul</li>
      <li class="list-group-item">Ujjawal</li>
      <li class="list-group-item">Veezoo</li>
    </ol>

  </div>

  <!-- <div>
      <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
        Absent students
      </button>
      <button type="button" class="list-group-item list-group-item-action">A second button item</button>
      <button type="button" class="list-group-item list-group-item-action">A third button item</button>
      <button type="button" class="list-group-item list-group-item-action">A fourth button item</button>
      <button type="button" class="list-group-item list-group-item-action" disabled>A disabled button item</button>

    </div> -->
</div>








{% for post in posts %}

{% endfor %}
{% endblock content %}