{% extends "layout.html" %}
{% block content %}
<!-- <div class="col-md-4">
    <div class="content-section">
        <h3>choose designation</h3>
        <ul class="list-group">
            <li class="list-group-item list-group-item-light">Coordinator login</li>
            <li class="list-group-item list-group-item-light">Student login</li>
        </ul>
        </p>
    </div>
</div> -->
<!-- {% for post in posts %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted }}</small>
        </div>
        <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>
    </div>
</article>
{% endfor %} -->





<div class="content-section">
    <div class="d-grid gap-2 col-10 mx-auto" id="video-container">
        <div id="result"></div>
        <video class="w-100 p-3" id="video" autoplay></video>
        <button class="btn btn-primary" type="button" id="start-button">start Attendence</button>
        <button class="btn btn-primary" type="button" id="stop-button">Stop camera</button>
        <button class="btn btn-primary bg-steel" id="matchButton">Match</button>
    </div>
</div>













<!-- <div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-primary bg-steel" type="button" onclick="">Mark Attendence</button>
</div> -->


<h3 class="mt-5">Previous Attendence :</h3>
<table class="table mt-2">
    <thead class="border-black border-2">
        <tr>
            <th scope="col">S.No.</th>
            <th scope="col">Date</th>
            <th scope="col">P/A</th>
        </tr>
    </thead>
    <tbody class="border-black border-2">
        <tr>
            <th scope="row">1</th>
            <td>18/10/23</td>
            <td>P</td>
        </tr>
        <!-- <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr> -->
    </tbody>
</table>


<script>
    let videoStream;
    const video = document.getElementById('video');
    const startButton = document.getElementById('start-button');
    const stopButton = document.getElementById('stop-button');
    const matchButton = document.getElementById('matchButton');
    const resultDiv = document.getElementById('result');
    stopButton.disabled = true;
    stopButton.style.display = "none";
    matchButton.disabled = true;
    matchButton.style.display = "none";

    startButton.addEventListener('click', async () => {
        try {
            videoStream = await navigator.mediaDevices.getUserMedia({ video: true });
            video.srcObject = videoStream;
            startButton.disabled = true;
            startButton.style.display = "none";
            stopButton.disabled = false;
            stopButton.style.display = "block";
            matchButton.disabled = false;
            matchButton.style.display = "block";
        } catch (error) {
            console.error('Error accessing webcam:', error);
        }
    });

    stopButton.addEventListener('click', () => {
        if (videoStream) {
            videoStream.getTracks().forEach(track => track.stop());
            video.srcObject = null;
            startButton.disabled = false;
            startButton.style.display = "block";
            stopButton.disabled = true;
            stopButton.style.display = "none";
            matchButton.disabled = true;
            matchButton.style.display = "none";
        }
    });

    matchButton.addEventListener('click', () => {
        if (videoStream) {
            resultDiv.innerHTML = `Recognising...`;
            const canvas = document.createElement('canvas');
            const context = canvas.getContext('2d');
            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;
            context.drawImage(video, 0, 0, canvas.width, canvas.height);
            resultDiv.style.color="black";


            // Convert the captured frame to a Blob


            if ("geolocation" in navigator) {
                position = navigator.geolocation.getCurrentPosition(function (position) {
                    canvas.toBlob(blob => {
                        const latitude = position.coords.latitude;
                        const longitude = position.coords.longitude;
                        console.log(latitude, longitude);


                        const formData = new FormData();
                        formData.append('frame', blob, 'frame.jpg');
                        formData.append("latitude", latitude);
                        formData.append("longitude", longitude);

                        // Send the frame data to the server with the correct content type
                        fetch('/process_frame', {
                            method: 'POST',
                            body: formData
                        })
                            .then(response => response.json())
                            .then(data => {
                                if (data.error) {
                                    resultDiv.innerHTML = `Error: ${data.error}`;
                                    resultDiv.style.color="red";
                                } else if (data.message) {
                                    resultDiv.innerHTML = `Message: ${data.message}`;
                                    resultDiv.style.color="red";
                                } else {
                                    resultDiv.innerHTML = `Recognized Faces: ${data.recognized_faces}`;
                                    resultDiv.style.color="green";

                                    // resultDiv.innerHTML = `Recognized Faces: ${data.recognized_faces.join(', ')}`;
                                }
                            });
                    }, 'image/jpeg');


                    // }

                });
            }

            else {
                document.getElementById("locationOutput").textContent = "Geolocation is not available.";
            }
        }
    });
</script>


{% endblock content %}