{% extends "layout.html" %}
{% block content %}
<!-- <div class="col-md-4">
    <div class="content-section">
        <h3>choose designation</h3>
        <ul class="list-group">
            <li class="list-group-item list-group-item-light">Coordinator login</li>
            <li class="list-group-item list-group-item-light">Student login</li>
        </ul>
        </p>
    </div>
</div> -->
<!-- {% for post in posts %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted }}</small>
        </div>
        <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>
    </div>
</article>
{% endfor %} -->

<div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-primary bg-steel" type="button" onclick="">Mark Attendence</button>
</div>


<h3 class="mt-5">Previous Attendence :</h3>
<table class="table mt-2">
    <thead class="border-black border-2">
      <tr>
        <th scope="col">S.No.</th>
        <th scope="col">Date</th>
        <th scope="col">P/A</th>
      </tr>
    </thead>
    <tbody class="border-black border-2">
      <tr>
        <th scope="row">1</th>
        <td>18/10/23</td>
        <td>P</td>
      </tr>
      <!-- <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr> -->
    </tbody>
  </table>


{% endblock content %}